$gutter: 13px;
$ratio: 1.61803398875;
body {
  margin: 0;
  background-color: #f1f1f1;
  color: #232323;
  font-family: sans-serif;
}
h1 {
  font-size: 3rem;
  line-height: 0.9;
  letter-spacing: $gutter;
  div {
    color: #666;
    letter-spacing: 1px;
    font-size: 1rem;

    margin: 0;
    text-transform: lowercase;
  }
}

#color__example {
  display: none;
}
@mixin stroked($color: #000, $size: 1px) {
  text-shadow:
   -$size -$size 0 $color,
    $size -$size 0 $color,
    -$size $size 0 $color,
     $size $size 0 $color;
}

#tlcontainer {
  margin: 0 auto;
  padding: floor($gutter * $ratio);
  max-width: 1920px;
}

#main {

}
.colorpicker {
  position: relative;
}

.colorpicker.dropdown {
  display: block!important;  
}

.palette {
  display: flex;
  //justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  .palette__actions {
    flex-basis: 100%;
    margin: 250px 0 $gutter 0;
  }
  button {
    i {
      margin: 0 floor($gutter/$ratio/$ratio) 0;
    }
    font-size: 21px;
    color: #666;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      color: #232323;
    }
  }
}
.add__color__input {
  width: 230px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}
.palette .add__color {
  cursor: pointer;
  background-color: #ffffff;
  border-color: #cccccc;
  color: #0654ba;
  font-size: 18px;
  height: 56px;
  width: 220px;
}
.palette__color {
  align-items: center;
  margin: 0 floor($gutter) floor($gutter) 0;

}
.color__input {
  display: flex;
  align-items: center;
  width: 165px;
  margin: 0 0 floor($gutter/$ratio) 0;
}
.color__picker {
  border-radius: floor($gutter * $ratio) - 3px;
  transition: background-color 0.5s;
  border: 3px double rgba(255,255,255,.6);
  height: floor($gutter * $ratio) - 3px;
  width: floor($gutter * $ratio) - 3px;
  flex-shrink: 0;
  margin: 0 floor($gutter / $ratio) 0 0;
  float: left;
} 
.palette__values {
  font-size: 16px;
  padding: 5px 8px;
  flex-grow: 1;
  border: 0 solid transparent;
  text-align: center;
  width: 65%;
  margin: 0 floor($gutter) 0 0;
}
.color__properties {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0 0 5px 0;
  }
}
.palette__pairings {
  /*display: flex;*/
  width: 100%;
  font-family: monospace;
  font-size: 24px;
  .palette__values {
   /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA1MjguOSA1MjguOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTI4LjkgNTI4Ljk7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojOUI5QjlCO308L3N0eWxlPjxnPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zMjguOSw4OS4xbDEwNy42LDEwNy42TDE2NC4xLDQ2OS4xTDU2LjYsMzYxLjVMMzI4LjksODkuMXogTTUxOC4xLDYzLjJsLTQ4LTQ4Yy0xOC41LTE4LjUtNDguNy0xOC41LTY3LjMsMGwtNDYsNDZsMTA3LjYsMTA3LjZsNTMuNi01My42QzUzMi41LDEwMC44LDUzMi41LDc3LjYsNTE4LjEsNjMuMnogTTAuMyw1MTIuN2MtMiw4LjgsNiwxNi43LDE0LjgsMTQuNkwxMzUsNDk4LjJMMjcuNSwzOTAuNkwwLjMsNTEyLjd6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 5px center;*/
    border-radius: 3px;
  }
}
.color-wrapper {
  min-width: 70px;
  width: auto;
  float: left;
  margin: 5px;
  @media (max-width: 480px) {
    width: 100%;
  }
}
.color {
  position: relative;
  box-sizing: border-box;
  padding: floor($gutter * $ratio);
  background-color: #ccc;
  transition: width 0.8s, background-color 0.8s;
  border-radius: 3px;
  margin-bottom: 30px;
  &:hover {
    .btn-delete {
      display: block;
    }
    .myHandle {
      display: block;
    }
  }
  .btn-delete {
    font-size: 28px;
    color: #fff;
    background-color: transparent;
    display: none;
    position: absolute;
    border: none;
    right: floor($gutter/$ratio/$ratio);
    top: floor($gutter/$ratio/$ratio);
    @include stroked(#333);
  }
}

.color__title {
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 8px;
  line-height: 1;
  font-size: 24px;
  color: rgba(255,255,255,1);
  font-weight: 700;
/*  @include stroked(#333);*/
  color: #232323;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.color__nested {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 22px;
}
.color__pairing {
  padding-right: $gutter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: -2px;
}
.test__result {
  display: inline-flex;
  align-items: flex-end;
  flex-grow: 1;
  color: #888;
  background: white;
  span {
    font-weight: bold;
  }
  .fa {
    margin-left: 2px;
    font-size: 12px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.result__wrapper {
  border-radius: 3px;
  border: 1px solid #eaeaea;
}
.accessibility {
  display: inline-flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  line-height: 1;
  background-color: rgba(255,255,255,.9);
  line-height: 26px;
  padding: floor($gutter / $ratio) floor($gutter);
  
  span {
    border-right: 1px solid white;
    padding: 2px;
  }
  .contrast {
    font-size: 16px;
    min-width: 55px;
    letter-spacing: -1px;
    text-align: right;
    background: #f7f7f7;
    text-align: center;
  }
  .result__title {
    font-size: 12px;
  }
  .fa-font {
    @include stroked(rgba(255,255,255,1));
    color: rgba(33,33,33,1);
    transition: color 0.8s;
  }
  .fail {
    color: darkgray;
    //text-decoration: line-through;
    .fa-check {
      display: none;
    }
  }
  .pass {
    color: rgba(23,135,23,1);
    .fa-close {
      display: none;
    }
  }
  .text__large {
    font-size: 24px; //18pt;
  }
  .text__small {
    font-size: 18px;
  }
}

.legend {
  font-size: 14px;
  margin-bottom: 40px;
  background: white;
  border: 1px solid #ccc;
  display: inline-block;
  .legend-item {
    float: left;
    padding: 20px;
    margin-left: 10px;
    border-right: 1px solid #ccc;
    &:first-child {
      margin-left :0;
    }
    &:last-child {
      border-right: 0;
    }
    @media (max-width: 1024px) {
      float: none;
      display: block;
      margin-left: 0;
    }
    .test__result {
      background: none;
    }
  }
  .text__large {
    font: normal normal normal 24px/1 FontAwesome;
    color: #178717;
    &.fail {
      color: darkgray;
    }
  }
  .text__small {
    font: normal normal normal 18px/1 FontAwesome;
    color: #178717;
    &.fail {
      color: darkgray;
    }
  }
  > span > span {
    text-align: center;
    width: 35px;
    display: inline-block;
  }
}


.colorpicker .dropdown-menu {
  background: white;
}
.myHandle {
  cursor: crosshair;
  color: white;
  position: absolute;
  display: none;
  left: 15px;
  top: 15px;
  font-size: 20px;
}
span.btn {
  cursor: pointer;
  font-size: 20px;
  color: #7d7d7d;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.clear {
  clear: both;
}
